.page{
  width 80%
  margin 0 auto
  height 550px
  background-color #ffffff
  .detail_left{
    clear: both
    padding: 25px 20px
    float: left;
    display: inline;
    width: 280px;
    margin-left: 20px;
   h1{
     margin: 10px 25px;
     text-align: center;
     font-size: 1.8em;
     color:#0099ff
     font-weight: bold;
     display: block;
    }
    h3{
      font-size: 1.3em;
      text-align center
    }
   .photo_box{
     width: 280px;
     height: 290px;
     margin: 5px 0 0 0;
     .photo{
       width 180px
       vertical-align: middle;
       margin: 20px 49px;
     }
   }
   .buttons{
     height: 46px;
     margin: 0 0 10px 0;
     text-align: center;
    a{
       text-decoration none
       line-height 46px
       display inline-block
       width 30%
       color #ffffff
       border-radius 10px
       height 100%
       background-color #0099ff
     }
   }
   .bshare-custom{
     margin-left 10px
   }
}
  .detail_right{
    padding: 32px 20px
    margin-left: 340px;
    ul.tab{
      cursor pointer
      height: 40px;
      padding-left: 20px;
      font-size: 1.2em;
      font-weight: bold;
      color #0099ff
      li{
        display inline-block
        margin:10px
        background-color #F2F2F2
        width 133px
        text-align center
        height 100%
        line-height 40px
      }
    }
    a{
      text-decoration none
    }
    .area1 {
      padding-top 50px
      padding-left 20px
      p {
        font-size 0.7em
        margin-bottom 20px
      }
    }
    .area2{
      padding-top 40px
      padding-left 20px
     p{
       font-size 0.7em
       line-height: 30px;
      }

    }
  }
}
.link{
  width 80%
  height 200px
  margin 20px auto
  padding-top 30px
  background-color #f5f5f5
  ul {
    display: block;
    float: left;
    width: 160px;
    margin: 0 0 0 40px;
    .title {
      font-size: 1.3em;
      padding: 5px 0;
      color #0099ff
    }
    li {
      margin-bottom 10px
      a {
        text-decoration none
      }
      a:hover{
        color #000
      }
    }
  }
}